<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/add_question.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>StackOverFlow-Lite</title>
  </head>
  <body>
      <div class="wrapper">
        <div class="item1">
            <h1>Post Question Form</h1>
            <form>
                <div  class="item1">
                    <label class="label1">Title</label>
                    <input type="text" placeholder="Enter your question title" id="form_title"/>
                </div>
                <div  class="item1">
                    <label class="label1">Body</label>
                    <textarea placeholder="Enter your question body" id="form_body"></textarea>
                </div>
                <div class="item1">
                    <button onclick="addToQuestions(); return false">Post question</button>
                </div>
            </form>
            <div id="questions">
                <!-- <span class="badge badge-secondary" id="like_span"></span> -->
            </div>
            <!-- <button onclick="countClicks()" style="margin-top: 5px;">COUNT CLICKS</button> -->
        </div>
      </div>
      <script src="../js/add_quesion.js"></script>
  </body>
</html>